		body {
				
				background-color: green;
				
			}
			
			div{
			float: left
			}
			
			#myCanvas{
			 
			 border:1px solid #000000;
			 position: absolute;
			 width: 100vw;
			 height: 100vh;
			 top: 0;
			 left: 0;
			}
			
			canvas {
				position: absolute;
				width: 100vw;
				height: 100vh;
				top: 0;
				left: 0;
			  }
			
			#button  {
			
			background-color:#8080ff;
			color: white;
			padding: 14px 25px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			cursor: pointer;
			border: 3px solid black;
			width: 80px
			
			
			}
			#button:hover, #button:active {

				background-color: #b3b3ff;
				 cursor: pointer;
			}
			
			}
			#test  {
			background-color:#8080ff;
			color: white;
			padding: 14px 25px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			cursor: pointer;
			border: 3px solid black;
			
			
			}
			#test:hover, #test:active {
				background-color: #b3b3ff;
				 cursor: pointer;
			}