#chatTextArea {
  position: absolute;
  top: 950px;
  left: 12px;
  visibility: hidden;
  background : transparent;
  font-size: 22px;
  color: white;
  resize: none;
  opacity: 1;
}

#chatLogDiv {
    position: absolute;
    top: 645px;
    left: 20px;
    font-size: 22px;
    color: white;
    opacity: 0.7;
}

.pan-join {
  background-color: black;
  height: 540px;
}

.pan-menu {
  background-color: #393a3d;
  height: 540px;
}

.title {
  color: whitesmoke;
}
